<div class="blog-entry" ng-repeat="post in posts">
  <div class="meta">
    <time class="blog-postdate" datetime="{{ post[1].published | amDateFormat:'YYYY-MM-DD HH:mm CST' }}" pubdate="{{ post[1].published | amDateFormat:'YYYY-MM-DD' }}" data-updated="true">
      {{ post[1].published | amDateFormat:'MMMM Do YYYY' }}
    </time> | Posted by {{ post[1].authors[0].name }}
  </div>
  <h2 class="entry-title">
    <a href="/blog/post/{{ post[0] }}">
      {{ post[1].title }}
    </a>
  </h2>
  <div class="post-content">
    <img ng-if="post[1].image" class="thumb" ng-src="{{ post[1].image }}" alt="">
    <div ng-bind-html="post[1].summary"></div>
  </div>
  <div style="clear: both;"></div>
</div>
<div class="pagination wrapper">
  <ul>
    <li class="nav prev previous_page" ng-if="page_prev">
      <a href='?page={{ page_prev }}'>&laquo; Newer Posts</a>
    </li>
    <li>
      Page {{ page }}
    </li>
    <li class="nav next next_page" ng-if="page_next">
      <a href="?page={{ page_next }}">Older Posts &raquo;</a>
    </li>
  </ul>
</div>