<div class="blog-entry">
  <div class="meta">
    <time class="blog-postdate" datetime="{{ post.metadata.published | amDateFormat:'YYYY-MM-DD HH:mm CST' }}" pubdate="{{ post.metadata.published | amDateFormat:'YYYY-MM-DD' }}" data-updated="true">
      {{ post.metadata.published | amDateFormat:'MMMM Do YYYY' }}
    </time> | Posted by {{ post.metadata.authors[0] }}
  </div>
  <h1 class="entry-title">
    {{ post.metadata.title }}
  </h1>
  <div class="post-content">
    <img ng-if="post.metadata.image" class="fullsize" ng-src="{{ post.metadata.image }}" alt="">
    <div common-mark="post.content"></div>
  </div>
</div>